body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: rgb(39, 58, 10);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lights{
    border: none;
    height: 400px;   
    width: 150px; 
    background: rgb(80, 77, 77);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.button{
    margin: 10px 20px 0 40px;
}

